/*#s_panel_button {*/
	/*position: fixed;*/

	/*top: 20px;*/
	/*right: 0;*/

	/*background: #ffffff;*/
	/*width: 32px;*/
	/*height: 60px;*/
	/*font: 48px Georgia;*/
	/*color: #000;*/
	/*text-align: center;*/
	/*-webkit-transition-duration: 0.3s;*/
	/*-moz-transition-duration: 0.3s;*/
	/*-o-transition-duration: 0.3s;*/
	/*transition-duration: 0.3s;*/
	/*-webkit-border-radius: 0 5px 5px 0;*/
	/*-moz-border-radius: 0 5px 5px 0;*/

	/*border-radius: 5px 5px 5px 5px;*/
	/*z-index: 1000;*/
/*}*/
/*#s_panel_left {*/
	/*position: fixed;*/

	/*top: 0px;*/

	/*right: -100px;*/

	/*/!*background: #ffffff;*!/*/
	/*width: 100px;*/
	/*height: 600px;*/

	/*/!*padding: 100px 0 0 0;*!/*/

	/*-webkit-transition-duration: 0.3s;*/
	/*-moz-transition-duration: 0.3s;*/
	/*-o-transition-duration: 0.3s;*/
	/*transition-duration: 0.3s;*/
	/*-webkit-border-radius: 0 5px 0 0;*/
	/*-moz-border-radius: 0 5px 0 0;*/

	/*border-radius: 0 5px 0 0;*/
	/*z-index: 1000;*/
/*}*/
/*#s_panel_button:hover {*/
	/*right: -100px;*/
	/*/!*background: none;*!/*/
/*}*/
/*#s_panel_button:hover #s_panel_left {*/
	/*right: 0;*/
/*}*/

/***/
.sPanelButton {
	position: fixed;
	top: 20px;
	right: 0;
	background: #ffffff;
	width: 32px;
	height: 60px;
	font: 48px Georgia;
	color: #000;
	text-align: center;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	border-radius: 5px 5px 5px 5px;
	z-index: 1000;
}

.sPanelLeft {
	position: fixed;
	top: 0px;

	right: -100px;

	/*background: #ffffff;*/
	width: 100px;
	height: 600px;

	/*padding: 100px 0 0 0;*/

	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;

	border-radius: 0 5px 0 0;
	z-index: 1000;
}

.sPanelButton:hover {
	right: -100px;
	/*background: none;*/
}
.sPanelButton:hover .sPanelLeft {
	right: 0;
}

.sPanelLeftHoverOff {
	position: fixed;
	top: 0px;
	right: 0px;

	width: 100px;
	height: 600px;

	border-radius: 0 5px 0 0;
	z-index: 1000;
}

.sPanelButtonHoverOff {
	position: fixed;
	top: 20px;
	right: -100px;
	background: #ffffff;
	width: 32px;
	height: 60px;
	font: 48px Georgia;
	color: #000;
	text-align: center;

	border-radius: 5px 5px 5px 5px;
	z-index: 1000;
}